*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: darkgray;
    font-weight: bold;
}
.father{
    display: flex;
    flex-flow: column nowrap;
}
a{
    text-decoration: none;
}

h2{
    margin-top: 60px;
    font-size: 50px;
}

.header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
    .menu{
        position: fixed;
        display: flex;
        align-items: center;
        font-size: 20px;
        width: 100%;
        height: 70px;
        background-color: rgb(21, 166, 210);
    }
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            font-size: 25px;
        }
            .logo a:hover{
                color: greenyellow;
            }
            .logo a{
                color: white;
            }
        .nav{
            display: flex;
            justify-content: center;
            flex: 4 1 auto;
        }
            .menu-inicio{
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
            }
            .menu-inicio a:hover{
                color: greenyellow;
            }
            .menu-eolica{
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
            }
            .menu-eolica a:hover{
                color: greenyellow;
            }
            .menu-solar{
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
            }
            .menu-solar a:hover{
                color: greenyellow;
            }
            .nav a{
                color: white;
            }
        .redes{
            display: flex;
            flex: 1 1 auto;
            justify-content: flex-end;
            align-items: center;
        }
            .facebook a:hover{
                color: greenyellow;
            }
            .twitter a:hover{
                color: greenyellow;
            }
            .youtube a:hover{
                color: greenyellow;
            }
            .twitch a:hover{
                color: greenyellow;
            }
            .redes-text{
                color: white;
            }
            .redes a{
                color: white;
            }
        .foto-eolica{
            margin-top: 100px;
            width: 1300px;
        }
        .foto-solar{
            margin-top: 100px;
            width: 1300px;
        }
    .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;        
        font-size: 50px;
    }

    /*---------------------------------------------*/

.section{
    display: flex;
    flex-flow: column nowrap;
}
    .imageneolica{
        display: flex;
        align-items: center;
        background-image: url(images/eolica.png);
    }
    .infoeolica{
        width: 313px;
        height: 279px;
        background-color: rgba(21, 166, 210, 0.9);
        opacity: 0;
        transition: opacity 0.3s;
    }
        .infoeolica a{
            color: black;
        }
    .imageneolica:hover .infoeolica{
        opacity: 1;
    }
    .maseolica{
        position: absolute;
        transition: margin 0.2s;
        margin-top: -25px;
        margin-left: -25px;
        font-size: 40px;
    }
    .imageneolica:hover .maseolica{
        margin-top: 115px;
        margin-left: 45px;
    }
    .e-eolica{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-size: 30px;        
        margin: 0px 30px 5px 30px;
        padding: 50px;
        background-color: rgb(21, 166, 210);
    }
    /*---------------------------------------------*/
    .imagensolar{
        display: flex;
        align-items: center;
        background-image: url(images/solar.png);
    }
    .infosolar{
        width: 313px;
        height: 279px;
        background-color: rgba(40, 181, 115, 0.9);
        opacity: 0;
        transition: opacity 0.3s;
    }
        .infosolar a{
            color: black;
        }
    .imagensolar:hover .infosolar{
        opacity: 1;
    }
    .massolar{
        position: absolute;
        transition: margin 0.2s;
        margin-top: -25px;
        margin-left: -25px;
        font-size: 40px;
    }
    .imagensolar:hover .massolar{
        margin-top: 120px;
        margin-left: 75px;
    }
    .e-solar{
        background-color: rgb(40, 181, 115);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-size: 30px;
        margin: 5px 30px 0px 30px;
        padding: 50px;
    }

    /*---------------------------------------------*/

.footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
    .info{
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .formulario-iconos{
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
        }   
            .formulario{
                display: flex;
                flex-flow: column;
                align-items: center;
            }
            .btn-primary{
                font-size: 18px;
                width: 280px;
                border-radius: 5px;
            }
            .btn-primary:focus {
                border-color: greenyellow;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px greenyellow
            }
            .mb-3{
                width: 100%;
            }
            .iconos{
                display: flex;
                font-size: 40px;
            }
                .footer a{
                    color: white;
                }
                .facebook, .twitter, .youtube, .twitch{
                    margin-left: 10px;
                    margin-right: 10px;
                }
        .invitacion-mapa{
            margin-left: 10px;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
        
        .escribinos{
            font-size: 26px;
        }
            .invitacion{
                font-size: 26px;
            }
    .derechos{
        font-size: 25px;
        text-align: center;
    }
    .form-control:focus {
        border-color: greenyellow;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px greenyellow
    }

      /*---------------------------------------------*/

.contenido{
    padding: 100px;
    font-size: 30px;  
    display: flex;  
    flex-flow: column;
    align-items: center;
}

.imagenes{
    display: flex;
    justify-content: space-evenly;
}

/*---------------------------------------------*/

@media (max-width:1000px){
    .info{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .formulario-iconos{
        margin-right: 0px;
    }  
    .invitacion-mapa{
        margin-left: 0px;
        margin-top: 20px;
    }
    .off{
        display: none;
    }
}

@media (max-width:900px){
    .e-eolica{
        flex-flow: column;
    }
    .e-solar{
        flex-flow: column;
    }
    .resumen{
        font-size: 25px;
    }
}

@media (max-width:500px){
    .menu{
        flex-flow: column;
        height: auto;
    }
    .menu-eolica{
        margin-left: 10px;
        margin-right: 10px;
    }
    .resumen{
        font-size: 20px;
    }
}

.form-control-incorrect{
    border-color: red;
}

.form-control-incorrect:focus {
    border-color: red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px red
}
