/* ---------------------------------------------------------- index.html ---------------------------------------------------------- */
/* ------------------------------------ GENERAL ------------------------------------ */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: darkgray;
    font-weight: bold;
}
.father{
    display: flex;
    flex-flow: column nowrap;
}
a{
    text-decoration: none;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 150px 0px 100px 0px;        
    font-size: 70px;
}
h2{
    margin-top: 60px;
    font-size: 50px;
}

/* ------------------------------------ HEADER ------------------------------------ */

.header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}
    .menu{
        position: fixed;
        display: flex;
        align-items: center;
        font-size: 20px;
        width: 100%;
        height: 70px;
        background-color: rgb(21, 166, 210);
    }
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            font-size: 25px;
        }
            .logo a:hover{
                color: greenyellow;
            }
            .logo a{
                color: white;
            }
        .nav{
            display: flex;
            justify-content: center;
            flex: 4 1 auto;
        }
            .nav a{
                color: white;
            }
            .menu-inicio{
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
            }
                .margen{
                    margin-right: 5px;
                }
                .menu-inicio a:hover{
                    color: greenyellow;
                }
            .menu-eolica{
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
            }
                .menu-eolica a:hover{
                    color: greenyellow;
                }
            .menu-solar{
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
            }
                .menu-solar a:hover{
                    color: greenyellow;
                }
        .redes{
            display: flex;
            flex: 1 1 auto;
            justify-content: flex-end;
            align-items: center;
        }
            .redes a{
                color: white;
            }
            .redes-text{
                color: white;
            }
            .facebook a:hover{
                color: greenyellow;
            }
            .twitter a:hover{
                color: greenyellow;
            }
            .youtube a:hover{
                color: greenyellow;
            }
            .twitch a:hover{
                color: greenyellow;
            }

/* ------------------------------------ SECTION ------------------------------------ */

/* ------------------------------ EOLICA ------------------------------ */
.section{
    display: flex;
    flex-flow: column nowrap;
}
    .e-eolica{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-size: 30px;        
        margin: 0px 30px 5px 30px;
        padding: 50px;
        background-color: rgb(21, 166, 210);
    }
        .imageneolica{
            display: flex;
            align-items: center;
            background-image: url(images/eolica.png);
        }
            .imageneolica:hover .infoeolica{
                opacity: 1;
            }
            .infoeolica{
                width: 313px;
                height: 279px;
                background-color: rgba(21, 166, 210, 0.9);
                opacity: 0;
                transition: opacity 0.3s;
            }
                .infoeolica a{
                    color: black;
                }
                .maseolica{
                    position: absolute;
                    transition: margin 0.2s;
                    margin-top: -25px;
                    margin-left: -25px;
                    font-size: 40px;
                }
                .imageneolica:hover .maseolica{
                    margin-top: 115px;
                    margin-left: 45px;
                }
    
/* ------------------------------ SOLAR ------------------------------ */
    .e-solar{
        background-color: rgb(40, 181, 115);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-size: 30px;
        margin: 5px 30px 0px 30px;
        padding: 50px;
    }
        .imagensolar{
            display: flex;
            align-items: center;
            background-image: url(images/solar.png);
        }
            .imagensolar:hover .infosolar{
                opacity: 1;
            }
            .infosolar{
                width: 313px;
                height: 279px;
                background-color: rgba(40, 181, 115, 0.9);
                opacity: 0;
                transition: opacity 0.3s;
            }
                .infosolar a{
                    color: black;
                }
                .massolar{
                    position: absolute;
                    transition: margin 0.2s;
                    margin-top: -25px;
                    margin-left: -25px;
                    font-size: 40px;
                }
                .imagensolar:hover .massolar{
                    margin-top: 120px;
                    margin-left: 75px;
                }
    

/* ------------------------------------ FOOTER ------------------------------------ */

.footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
    .info{
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .formulario-iconos{
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
        }   
            .formulario{
                display: flex;
                flex-flow: column;
                align-items: center;
                width: 100%;
            }
                .form-control{
                    margin: 5px 0px;
                    font-weight: bold;
                }
                .btn-primary{
                    font-size: 18px;
                    width: 280px;
                    border-radius: 5px;
                    background-color:rgb(21, 166, 210); 
                    border-color: rgb(21, 166, 210);
                }              
                .btn-primary:hover{    
                    background-color:rgb(21, 166, 210); 
                    border-color: rgb(21, 166, 210);
                }     
                .btn-primary-incorrect{
                    background-color:darkgray; 
                    border-color: red;
                }
            
            .textarea{
                height: 100%; 
                min-height: 100%; 
                max-height: 100%; 
                font-weight: bold;
            }
            .iconos{
                display: flex;
                font-size: 40px;
            }
                .footer a{
                    color: white;
                }
                .facebook, .twitter, .youtube, .twitch{
                    margin-left: 10px;
                    margin-right: 10px;
                }
        .invitacion-mapa{
            margin-left: 10px;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
        
        .escribinos{
            font-size: 26px;
        }
            .invitacion{
                font-size: 26px;
            }
    .derechos{
        font-size: 25px;
        text-align: center;
    }
    .form-control:focus {
        border-color: greenyellow;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px greenyellow
    }

      /*---------------------------------------------*/

.contenido{
    display: flex;  
    flex-flow: column;
    text-align: justify;
    align-items: center;
    margin: 100px;
    font-size: 30px;  
}

.imagenes{
    display: flex;
    justify-content: space-evenly;
}

/*---------------------------------------------*/

@media (max-width:1000px){
    .info{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .formulario-iconos{
        margin-right: 0px;
    }  
    .invitacion-mapa{
        margin-left: 0px;
        margin-top: 20px;
    }
    .off{
        display: none;
    }
}


@media (max-width:900px){
    .e-eolica{
        flex-flow: column;
    }
    .e-solar{
        flex-flow: column;
    }
    .resumen{
        font-size: 25px;
    }
    .contenido{
        font-size: 25px;
        margin: 20px;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 25px;
    }
}

@media (max-width:500px){
    .menu{
        flex-flow: column;
        height: auto;
    }
    .menu-eolica{
        margin-left: 10px;
        margin-right: 10px;
    }
    .resumen{
        font-size: 20px;
    }
    .contenido{
        font-size: 20px;
        margin: 25px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 20px;
    }
}

.form-control-incorrect{
    border-color: red;
}

.form-control-incorrect:focus {
    border-color: red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px red
}

/* ---------------------------------------------------------- eolica.html ---------------------------------------------------------- */

.foto-eolica{
    margin-top: 100px;
}
.responsive{
    width: 100%;
    max-width: 1300px;
    height: auto;
}

/* ---------------------------------------------------------- solar.html ---------------------------------------------------------- */
.foto-solar{
    margin-top: 100px;
}
.imagenes{
    display: flex;
    flex-flow: column;
    align-items: center;
}
