*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: darkgray;
    font-weight: bold;
}
.father{
    display: flex;
    flex-flow: column nowrap;
}
a{
    text-decoration: none;
}

h2{
    margin-top: 60px;
    font-size: 50px;
}

.header{
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        display: flex;
        font-size: 20px;
        background-color: rgb(21, 166, 210);
    }
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            font-size: 25px;
        }
            .logo a{
                color: white;
            }
        .nav{
            display: flex;
            justify-content: center;
            flex: 4 1 auto;
        }
            .menu-inicio{
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
            }
            .menu-inicio a:hover{
                color: greenyellow;
            }
            .menu-eolica{
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
            }
            .menu-eolica a:hover{
                color: greenyellow;
            }
            .menu-solar{
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
            }
            .menu-solar a:hover{
                color: greenyellow;
            }
            .nav a{
                color: white;
            }
        .redes{
            display: flex;
            flex: 1 1 auto;
            justify-content: flex-end;
            align-items: center;
        }
            .facebook a:hover{
                color: greenyellow;
            }
            .twitter a:hover{
                color: greenyellow;
            }
            .youtube a:hover{
                color: greenyellow;
            }
            .twitch a:hover{
                color: greenyellow;
            }
            .redes-text{
                color: white;
            }
            .redes a{
                color: white;
            }
    .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;        
        font-size: 50px;
    }

    /*---------------------------------------------*/

.section{
    display: flex;
    flex-flow: column nowrap;
}
    .imageneolica{
        display: flex;
        align-items: center;
        background-image: url(/TPO/images/eolica.png);
    }
    .infoeolica{
        width: 313px;
        height: 279px;
        background-color: rgba(21, 166, 210, 0.9);
        opacity: 0;
        transition: opacity 0.3s;
    }
        .infoeolica a{
            color: black;
        }
    .imageneolica:hover .infoeolica{
        opacity: 1;
    }
    .maseolica{
        position: absolute;
        transition: margin 0.2s;
        margin-top: -25px;
        margin-left: -25px;
        font-size: 40px;
    }
    .imageneolica:hover .maseolica{
        margin-top: 95px;
        margin-left: 45px;
    }

    .e-eolica{
        background-color: rgb(21, 166, 210);
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
    }

    /*---------------------------------------------*/

    .imagensolar{
        display: flex;
        align-items: center;
        background-image: url(/TPO/images/solar.png);
    }
    .infosolar{
        width: 313px;
        height: 279px;
        background-color: rgba(40, 181, 115, 0.9);
        opacity: 0;
        transition: opacity 0.3s;
    }
        .infosolar a{
            color: black;
        }
    .imagensolar:hover .infosolar{
        opacity: 1;
    }
    .massolar{
        position: absolute;
        transition: margin 0.2s;
        margin-top: -25px;
        margin-left: -25px;
        font-size: 40px;
    }
    .imagensolar:hover .massolar{
        margin-top: 120px;
        margin-left: 75px;
    }
    .e-solar{
        background-color: rgb(40, 181, 115);
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    /*---------------------------------------------*/

.footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 250px;
}
    .info{
        display: flex;
    }
        .formulario-iconos{
            display: flex;
            flex-flow: column;
            align-items: center;
        }   
            .mb-3{
                width: 350px;
            }
            .iconos{
                display: flex;
                font-size: 40px;
            }
                .footer a{
                    color: white;
                }
                .facebook, .twitter, .youtube, .twitch{
                    margin-left: 10px;
                    margin-right: 10px;
                }
            .invitacion{
                font-size: 26px;
            }
    .derechos{
        font-size: 25px;
    }
    .form-control:focus {
        border-color: greenyellow;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px greenyellow
      }


      /*---------------------------------------------*/

.contenido{
    margin: 100px;
    font-size: 30px;  
    display: flex;  
    flex-flow: column;
    align-items: center;
}

.imagenes{
    display: flex;
    justify-content: space-evenly;
}